@media screen and (max-width:1350px) {
    nav {
        width: 90% !important;
    }
}

@media screen and (max-width:985px) {
    .burger {
        display: block !important;
        z-index: 1000;
    }

    .nav-links {
        background: rgba(000,000, 000, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        padding: 0 2em;
        transition: 0.4s ease;
        transform: translateY(-150%);
        overflow: hidden;

    }

    .submenu {
        top: 0;
        left: 0;
        position: relative !important;
    }

    .nav-links li a {
        padding: 2em 0;
    }

    nav {
        padding-top: 2em;
    }
} 


.active {
    transform: translateY(0);
}




@media screen and (max-width:800px) {
    .hero-right h1 {
        font-size: 26px !important;
    }

    .hero-right p {
        font-size: 13px !important;
    }

    .btn {
        padding: 10px 22px !important;
        font-weight: 500 !important;
    }

    nav {
        padding-left: 2em !important;
    }
}


@media screen and (max-width:700px) {
    .hero-main {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: flex-end !important;
    }

    .arrow:last-of-type {
        margin: 0 !important;
    }
    .arrow {
     font-size: 13px !important;
    }
}


@media screen and (max-width:600px) {
  .hero-right h1 {
      font-size: 20px !important;
      letter-spacing: 5px !important;
  }

  
  
  .hero-right p {
      font-size: 11px !important;
  }

  .btn {
      font-size: 12px !important;

  }

  nav {
      padding-left: 3em !important;
  }

  nav p {
      font-size: 13px !important;
  }

  .out-section {
      flex-basis: 15% !important;
  }

  .hero-section .container {
      flex-basis: 80% !important;
  }

  nav li a {
      font-size: 14px !important;
      
  }

  nav li {
      border-bottom: 1px solid #fff;
  }

  nav li:last-of-type {
      border: 0 !important;
  }

  .submenu li {
      border-bottom: 1px solid #C5A47E;;
  }
}



@media screen and (max-width:1400px) {
    .about {
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr !important;
    }

    .about-overlay {
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr !important;
    }

    .about-box p {
        line-height: 1.5 !important;
    }
}


@media screen and (max-width:920px) {
    .about {
      display: block !important;
      padding: 4em 1em;
    }

    .about-row {
        flex-direction: column !important;
      
    }
}


@media screen and (max-width:800px) {
    .about-row {
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }

    .about-box {
        margin-bottom: 1.8em;
    }

    .about-box:last-of-type {
        margin-bottom: 0;
    }
}


@media screen and (max-width:1000px){
    .project-info h3 {
        font-size: 11px !important;
    }

    .project-info {
        letter-spacing: 8px !important;
        font-size: 14px !important;
    }

    .project:hover {
        flex: 2 !important;
    }
}


@media screen and (max-width:780px) {
    .project {
        flex: unset !important;
        flex: 0 0 auto !important;
    }

    .project:hover  {
        flex: 0 0 auto !important;
    }
}

@media screen and (max-width:400px) {
    .project {
        max-width: 380px !important;
    }
}



@media screen and (max-width:600px) {
    .work-section .container {
        flex-direction: column !important;
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .work-section .container h3 {
        text-align: center !important;
    }

    .project {
        max-width: 380px !important;
    }
}


@media screen and (max-width:600px) {
    .clients .container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-column-gap: 1rem !important;
    }

    .clients {
        padding: 4em 1em;
    }
}


@media screen and (max-width:1400px) {
    .container {
        max-width: 1200px !important;
    }

    
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 1000px !important;
    }
}


@media screen and (max-width:1000px) {
    .container {
        max-width: 900px !important;
    }
}



@media screen and (max-width:900px) {
    footer {
        padding: 4em 1em !important;

        
    }

    .inner-footer {
        flex-direction: column !important;


    }

    .footer-left {
        width: 100%;
    }

    .footer-right {
        width: 100%;
        margin-bottom: 1.5em;
    }

}

@media screen and (max-width:600px) {
    form .top  {
        flex-direction: column !important;
    }

    input {
        padding: 2em 1em !important;
    }
}

@media screen and (max-width:450px) {
    nav p {
        font-size: 10px !important;
    }
}